<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <style>
        .flash{
          position: absolute;
          top: 50px;
          width:100%
        }
      </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;position: fixed; width: 100%;">            
            <a class="navbar-brand"  style="color:#00a36d" href="/"><img style="height: 30px;" src="/img/logo.png" alt=""> eventNow</a>
        </nav>
        <div class="flash">
            <% if(error && error.length > 0) {%>
                <div class="alert alert-danger" role="alert">
                    <%=error %>
                </div>
            <% }%>
        </div>
        <div  class="flash">
                <% if(success && success.length > 0) {%>
                    <div class="alert alert-success" role="alert">
                        <%=success %>
                    </div>
                <% }%>
        </div>