<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
            
            
            <a class="navbar-brand" href="/">Navbar</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav  nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="/user/login">Login User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vendor/login">Login Vender</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vendor/register">Register Vendor</a>
                </li>
            </ul>
            </div>
          </nav>
