<h1><a href="/user/register">User Register</a></h1>
<h1><a href="/user/login">User Login</a></h1>

<br><br><br>

<h1><a href="/vendor/register">Vendor Register</a></h1>
<h1><a href="/vendor/login">Vendor Login</a></h1>