<%- include ('./partials/header') %>


<div style="width: 30%;margin: 10vh auto;">
    <h1  style="text-align: center"><%=type%> Register</h1>
    <form action="/<%=type%>/register" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="username"> 
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="email"> 
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Register</button>
        </div>
    </form>
    <a href="/<%=type%>/login"><h4>Have an account? Log in</h4></a>
</div>
</body>
</html>
